 .u-section-1 {
  background-image: url("images/wallpaper-02.jpg");
  background-position: 50% 16.09%;
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 512px;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -19px auto 0;
}

.u-section-1 .u-group-1 {
  width: 485px;
  background-image: none;
  min-height: 107px;
  height: auto;
  margin: -81px auto 43px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: none;
  font-weight: normal;
  margin: 30px 16px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -42px auto 0 14px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.55em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 215px;
    margin-top: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 96px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -113px;
    margin-left: 57px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-1 .u-image-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1577px;
}

.u-section-2 .u-group-1 {
  width: 1040px;
  min-height: 1473px;
  height: auto;
  margin: 26px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 22px;
}

.u-section-2 .u-list-1 {
  width: 354px;
  margin: 0 auto 0 321px;
}

.u-section-2 .u-group-2 {
  width: 938px;
  min-height: 930px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 119px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-list-2 {
  width: 799px;
  margin: 78px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 360px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-group-4 {
  min-height: 374px;
  margin-top: 45px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-5 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 72px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 18px 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 115px;
  height: 115px;
  margin: 58px 60px 0 57px;
}

.u-section-2 .u-group-6 {
  margin-top: 61px;
  margin-bottom: 0;
  min-height: 68px;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 6px 30px;
}

.u-section-2 .u-btn-1 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  margin-top: 45px;
  margin-bottom: 0;
  min-height: 371px;
  height: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-8 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 72px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 18px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 -6px 0 0;
}

.u-section-2 .u-image-2 {
  width: 115px;
  height: 115px;
  margin: 58px 60px 0 57px;
}

.u-section-2 .u-group-9 {
  margin-top: 61px;
  margin-bottom: 0;
  min-height: 68px;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 6px 30px;
}

.u-section-2 .u-btn-2 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-group-10 {
  min-height: 371px;
  margin-top: 45px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-group-11 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 72px;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 18px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-3 {
  width: 115px;
  height: 115px;
  margin: 58px 60px 0 57px;
}

.u-section-2 .u-group-12 {
  margin-top: 61px;
  margin-bottom: 0;
  min-height: 68px;
  height: auto;
}

.u-section-2 .u-container-layout-15 {
  padding: 6px 30px;
}

.u-section-2 .u-btn-3 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-group-13 {
  margin-top: 64px;
  margin-bottom: 0;
  min-height: 230px;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-2 .u-form-1 {
  height: 77px;
  width: 349px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: none;
  font-weight: normal;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 896px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }

  .u-section-2 .u-group-10 {
    height: auto;
  }

  .u-section-2 .u-group-11 {
    height: auto;
  }

  .u-section-2 .u-group-12 {
    height: auto;
  }

  .u-section-2 .u-group-13 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2326px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1399px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 1399px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-2 {
    width: 660px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 933px;
  }

  .u-section-2 .u-group-4 {
    min-height: 375px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 62px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-2 .u-group-9 {
    margin-top: 62px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-left: 90px;
  }

  .u-section-2 .u-group-12 {
    margin-top: 62px;
  }

  .u-section-2 .u-group-13 {
    margin-top: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3038px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1880px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-left: 166px;
  }

  .u-section-2 .u-group-2 {
    min-height: 1880px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    margin-left: 184px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-7 {
    min-height: 375px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 184px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 184px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-13 {
    min-height: 237px;
    margin-top: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 320px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    margin-left: 84px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 84px;
  }

  .u-section-2 .u-group-10 {
    min-height: 375px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 84px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}